@font-face {
	font-family: FregatBold; 
    src: url(font/FregatBold.woff); 
} 

body{
	font-family: FregatBold, Arial, Georgia;
}

.page-header {	
	background-color: #f2f2f2;	
}

.wrapper {  
    max-width: 940px;
    margin-left: auto;
	margin-right: auto;
}
	
.main-menu {
	font-size:0;		
    text-transform: uppercase;
	color: #1a09c9;	
	padding: 22px 0px 22px 0px;  			
}

.main-menu .active a {	
	border: 1px solid #808080;
	border-radius: 28px;		
	padding: 6px 14px;
	background-color: #f2f2f2;
	color: #636363;
	cursor: pointer;
	outline: none;
	margin:0px -15px;	
}

.menu-item {
	display: inline-block;	
	font-size: 16px;
	padding: 0px;
	margin: 0px;    
	margin-right: 30px;	 
	vertical-align: middle;		
}

.menu-item:hover {	
	transform: translateY(2px);	
}

.menu-item:last-child:hover {	
	transform: none;	
}

.menu-link {
    text-decoration: none;
    color: #1a09c9;
}

.menu-link:active {	
	border: 1px solid #808080;
	border-radius: 28px;		
	padding: 6px 14px;
	background-color: #f2f2f2;
	color: #636363;
	cursor: pointer;
	outline: none;
	margin:0px -15px;
	transform: translateY(-2px) scale(0.1);	
}

.search{    	
	float: right;
	margin-right: 0px; 
	margin-top: -7px; 		
}

.search-form {
	position: relative;	
}

.input-search { 
	font-family: "Arial";
	color: #000000;
	font-size: 12px;
	padding: 7px 25px 7px 10px;	
	border-radius: 26px;
	outline: none;	
	width: 180px;
}


.input-search::-ms-clear {
    display: none;
}

::-webkit-input-placeholder {
	color:#ababab; 	
}

.button-search {
	border: none;
	outline: none; 
	height:15px;
	width: 15px;
	position: absolute;
	top: 8px;  
	right: 10px;
	background: url(pictures/magnifier.png) no-repeat;
	cursor: pointer; 	
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.logo-name {
	display: block;	
	font-size: 0px;
	padding-top: 46px;
	padding-bottom: 0px;
	background: url(pictures/line.png) no-repeat bottom;	
}

.name {	
	display: inline-block;		
	vertical-align: top;	
}

.logo {		
	padding-top: 8px;
	margin-right: 35px; 	
}

.bigger {	
	text-transform: uppercase;
	color: #555555;
	font-size: 48px;		
}

.smaller {	
	font-family: "Arial";
	font-size: 12px;
	text-transform: none;
	font-weight: normal;
	position: relative;
	top: -30px;		
}

.crumbs {	
    font-family: "Arial";
    font-size: 12px;    
	font-weight: normal;
	float: left;
	padding-top: 30px;	
	color: #555555;		
}

.crumbs-item {	
	display: inline-block;
	list-style:none;	
}

.crumbs-item:hover {	
	transform: translateY(1px);	
}

.crumbs-link {	
	color: #555555;	
}

.crumbs-item:last-child:after {
	display: none;
}

.crumbs-item:after {	
	content:"\2192";
	padding: 0px 5px 0px 5px;
}

.h2font {		
	text-transform: uppercase;
    color: #555555;
	font-size: 30px;
	padding-top: 55px;		
}

.general-form {
	display:table;
	padding-top: 65px;
	padding-bottom: 100px;
	color: #555555;
	font-family: "Arial";
	font-size: 12px;
}

.general-input {
	background-color: #f6f6f6; 
	border-radius: 3px;
	border: none;	
	box-shadow: 0px 1px 1px 0px #afafaf;
	padding: 6px 11px;
}

.form-row {       
	display: table-row;    
}    

.form-cell-1 {       
	display: table-cell;
	padding-right: 35px;
	padding-bottom: 30px;	
		
}

.form-cell-2 {       
	display: table-cell;	
}

.name-form {	
	width: 460px;
}

.code-form {	
	width: 300px;
}

.category-form {	
	width: 322px;
	font-family: "Arial";
	font-size: 12px;	
}

.check-box {	
	margin-left: 0px;
}

.discription-form {		
	vertical-align:top;	
}

.discription-form-text {
	width: 460px;
	height: 160px;
	resize: none;	
}

.form-btn {
	padding-top: 40px;		
}

.add-btn {
	font-family: FregatBold;
	border: 1px solid #1a09c9;
	border-radius: 25px;
	text-transform: uppercase;
	font-size: 16px;	
	height: 50px;
	width: 220px;
	color: #1a09c9;
	background-color: #ffffff;
	cursor: pointer;
	outline: none;			
}

.page-footer {
	min-height: 120px;
	background-color: #f2f2f2;		
}

.copyright {	
    text-transform: none;
	font-family: "Arial";
	font-size: 12px;
	color: #383b3a;
	float: right;    
    list-style-type: none;	
}